## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [61]:
!pip install random2
import random

Requirement already satisfied: random2 in /Users/usuario/opt/anaconda3/lib/python3.8/site-packages (1.0.1)

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [85]:
# Your code here
sample_list_1 =(random.sample (range(101), k=80))
print(sample_list_1)

[31, 14, 93, 46, 78, 7, 19, 75, 68, 80, 44, 47, 8, 49, 63, 38, 41, 99, 27, 45, 86, 51, 18, 6, 87, 100, 42, 83, 64, 70, 13, 69, 52, 67, 71, 48, 81, 76, 36, 85, 17, 0, 88, 33, 28, 37, 5, 12, 90, 3, 92, 94, 79, 96, 2, 35, 16, 62, 39, 72, 50, 34, 23, 60, 82, 59, 66, 26, 91, 55, 53, 21, 25, 32, 84, 29, 57, 65, 15, 58]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [112]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

In [172]:
print(set1)

{0, 2, 3, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 19, 21, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 96, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [120]:
# Your code here

sample_random_list_2 = [random.randint(0,101) for i in range(80)]

print(sample_random_list_2)

[5, 64, 72, 53, 96, 59, 52, 76, 19, 39, 60, 18, 53, 17, 31, 39, 16, 55, 14, 58, 87, 52, 101, 31, 93, 82, 29, 12, 16, 80, 57, 92, 41, 1, 13, 10, 46, 10, 80, 54, 42, 40, 51, 91, 4, 73, 76, 93, 56, 77, 36, 29, 63, 69, 22, 3, 56, 99, 67, 8, 41, 54, 9, 6, 80, 58, 0, 34, 98, 13, 48, 97, 16, 24, 89, 47, 56, 0, 21, 19]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [176]:
# Your code here

set2 = set(sample_random_list_2) 

print(len(set(sample_random_list_2)))

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [158]:
# Your code here

set3= set1 - set1.intersection(set2)

print (set3)

{2, 7, 15, 23, 25, 26, 27, 28, 32, 33, 35, 37, 38, 44, 45, 49, 50, 62, 65, 66, 68, 70, 71, 75, 78, 79, 81, 83, 84, 85, 86, 88, 90, 94, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

## Your code here

set4= (set2 - set1.intersection(set2))

set4

In [177]:
set4= set2 - set1.intersection(set2)
       
print (set4)

{1, 97, 98, 4, 101, 40, 9, 10, 73, 77, 22, 54, 24, 89, 56}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [165]:
# Your code here

set5 = (set1.intersection(set2))

print (set5)

{0, 3, 5, 6, 8, 12, 13, 14, 16, 17, 18, 19, 21, 29, 31, 34, 36, 39, 41, 42, 46, 47, 48, 51, 52, 53, 55, 57, 58, 59, 60, 63, 64, 67, 69, 72, 76, 80, 82, 87, 91, 92, 93, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [178]:
# Your code here

if len (set5) + len (set3) + len (set4) == len (set1) + len (set2) - len (set5):
    print ("Testeo correcto")
else:
    print("Algo va mal")

Testeo correcto

#### Create an empty set called `set6`.

In [188]:
# Your code here

set6 = set()

set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [189]:
# Your code here

set6.update(set5, set3)

print (set6)

{0, 2, 3, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 19, 21, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 96, 99, 100}

#### Check if `set1` and `set6` are equal.

In [199]:
# Your code here
if set1 == set6:
    print ("Son iguales")
else: 
    print ("No son iguales")

Son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [200]:
# Your code here
set1.issubset(set2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [207]:
# Your code here

if set3 | set4 | set5 == set1 | set2:
    print ("bien")
else:
    print ("mal")

bien

#### Using the `pop` method, remove the first element from `set1`.

In [223]:
# Your code here
set1.pop()
print (set1)

{8, 12, 13, 14, 15, 16, 17, 18, 19, 21, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 96, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [236]:
# Your code here

list_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])

list_definitiva = (set1 - set1.intersection(list_to_remove)) 

print (list_definitiva)

{8, 12, 13, 14, 15, 16, 17, 18, 23, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 42, 44, 45, 46, 47, 48, 50, 52, 53, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 100}